<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.MeineEreignisse" android:versionCode="4" android:versionName="0.0.7" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="14" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="Meine Ereignisse" android:icon="@drawable/Icon"></application>
</manifest>